@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

/*Variáveis (Propriedades customizadas)*/
:root {
    --primary-color: #6EACDA;
    --secondary-color: #e8eaed;
    --tertiary-color: #9aa0a6;
    --bg-color: #202124;
    --base-color: #1053a4;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    font-family: "Quicksand", sans-serif;
}

header {
   padding: 2rem 1rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: sticky;
   top: 0;
   background: var(--bg-color);
   z-index: 10;
   border-bottom: 1px solid var(--bg-color);
   gap: 2rem;
}

.titulo-redaçao {
    color: var(--base-color);
}

header h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.2rem;
    margin: 0;
    font-weight: 500;
    white-space: nowrap;
    color: var(--primary-color);
}

header div {
    position: relative; 
    display: flex; 
    align-items: center; 
}

div input {
    padding: 12px 8px 12px 40px; 
    border-radius: 0.8rem;
    border: 1px solid var(--base-color);
    background: var(--bg-color);
    font-family: inherit;
    font-size: 15px;
    transition: all 0.2s ease;
    width: 30rem;
    color: var(--secondary-color);
    margin-right: .5rem;
    height: 40px;               
    line-height: 40px;          
}

div input::placeholder {
    font-size: 15px;
    font-weight: 300;
    color: var(--secondary-color);
}

div input:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 0.1rem var(--primary-color);
}

header div .fa-magnifying-glass {
    position: absolute; /* Posiciona o ícone sobre o input */
    left: 15px; /* Distância da esquerda */
    top: 50%; /* Alinha verticalmente ao centro */
    transform: translateY(-50%); /* Ajuste fino do alinhamento vertical */
    color: var(--tertiary-color); /* Cor do ícone */
}

#botao-busca {
    padding: 1rem 2rem;
    background-color: var(--base-color);
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    white-space: nowrap;
    transition: background-color 0.2s ease, color 0.2s ease;
    color: var(--secondary-color);
    border: 1px solid var(--base-color);
}

#botao-busca:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
    box-shadow: 0 0 0 0.1rem var(--primary-color);
}

#botao-busca:active {
    transform: scale(0.98);
}

main {
    overflow-y: scroll; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura */
    max-width: 80rem; /* Largura máxima do conteúdo principal */
    margin: 0 auto; /* Centraliza o conteúdo principal horizontalmente */
    margin-top: 2rem; /* Margem no topo */
    height: calc(100vh - 10rem - 4rem); /* Calcula a altura para preencher o espaço restante da tela */ 
}

article {
    background: none; /* Sem cor de fundo */
    border-radius: 0; /* Sem bordas arredondadas */
    padding: 0; /* Remove o padding */
    padding: 0 1rem; /* Espaçamento interno nos lados */
    margin-bottom: 1.25rem; /* Margem inferior */
    box-shadow: none; /* Sem sombra */
    transition: background-color 0.3s ease, border-bottom-color 0.3s ease; /* Transição suave */
    border-bottom: 1px solid var(--bg-color); /* Borda inferior */
    padding-bottom: 1.5rem; /* Espaçamento interno inferior */
}

article:hover {
    transform: scale(1.01); /* Aumenta ligeiramente o tamanho ao passar o mouse */
    cursor: pointer; /* Muda o cursor para uma mão */
}

article h2 {
    margin-top: 0; /* Remove a margem superior */
    font-weight: 600; /* Peso da fonte */
    font-size: 1.6rem; /* Tamanho da fonte */
    border-bottom: none; /* Sem borda inferior */
    padding-bottom: 0; /* Sem espaçamento interno inferior */
    margin-bottom: 0.25rem; /* Margem inferior */
    color: var(--primary-color); /* Cor do texto */
}

article p {
    margin: 0.5rem 0; /* Margem superior e inferior */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    font-size: 1rem; /* Tamanho da fonte */
    margin-bottom: 0.5rem; /* Margem inferior */
    color: var(--secondary-color); /* Cor do texto */
}

article p strong {
    color: var(--tertiary-color); /* Cor do texto em negrito */
    font-weight: 400; /* Peso da fonte */
}

article a {
    color: var(--primary-color); /* Cor do link */
    text-decoration: none; /* Remove o sublinhado padrão */
    font-weight: 200; /* Peso da fonte */
}

article a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--tertiary-color);
    background-color: var(--bg-color);
    padding: 15px 20px;
    border-top: 1px solid #3c4043;
    font-size: 0.8rem;
}

.footer-location {
    color: #9aa0a6;
    margin-bottom: 10px;
    text-align: center;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.footer-links a {
    color: var(--primary-color);
    text-decoration: none; 
    transition: color 0.2s; 
}

.footer-links a:hover {
    color: var(--base-color); 
}

@media (max-width: 768px) {
    header { /* Estilos para telas com largura máxima de 768px */
        flex-direction: column; /* Organiza os itens do cabeçalho em coluna */
        padding: 1rem; /* Reduz o espaçamento interno */
    }

    header h1 { /* Estilos para o h1 no cabeçalho em telas menores */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 1rem; /* Adiciona margem inferior */
    }

    div input { /* Estilos para o input em telas menores */
        width: 90vw; /* Largura baseada na largura da viewport */
        font-size: 1.2rem; /* Reduz o tamanho da fonte */
    }

    main { /* Estilos para o main em telas menores */
        padding: 0 1rem; /* Adiciona espaçamento lateral */
    }

    article:hover { /* Estilos para o article em telas menores */
        transform: none; /* Remove o efeito de escala ao passar o mouse */
    }
}

@media (max-width: 480px) {
    header h1 { /* Estilos para o h1 em telas com largura máxima de 480px */
        font-size: 1rem; /* Reduz ainda mais o tamanho da fonte */
        max-width: 70%; /* Define uma largura máxima */
        word-wrap: break-word; /* Permite a quebra de palavras longas */
    }

    div input, /* Estilos para o input e seu placeholder em telas muito pequenas */
    div input::placeholder {
        font-size: 1rem; /* Reduz o tamanho da fonte */
    }

    article h2 { /* Estilos para o h2 do article em telas muito pequenas */
        font-size: 1.3rem; /* Reduz o tamanho da fonte */
    }

    div { /* Estilos para a div do cabeçalho em telas muito pequenas */
        display: flex; /* Habilita flexbox */
        align-items: center; /* Alinha itens ao centro */
        justify-content: center; /* Centraliza itens */
        flex-direction: column; /* Organiza em coluna */
        gap: 0.5rem; /* Espaçamento entre os itens */
    }

    .footer { /* Estilos para o rodapé em telas muito pequenas */
        display: none; /* Oculta o rodapé */
    }

    button { /* Estilos para o botão em telas muito pequenas */
        margin-top: 1rem; /* Adiciona margem no topo */
    }
}