@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

/*Variáveis (Propriedades customizadas)*/
:root {
    --primary-color: #000000;
    --secondary-color: #748092;
    --tertiary-color: #9aa0a6;
    --bg-color: #ffffff;
    --base-color: #2463EB;
    --button-color: #507fe6;
    --border-color: #e0e0e0;
}

/* Variáveis para o modo escuro */
body[data-theme="dark"] {
    --primary-color: #e8eaed;
    --secondary-color: #bdc1c6;
    --bg-color: #202124;
    --base-color: #8ab4f8;
    --border-color: #3c4043;
}

body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--secondary-color);
    font-family: "Quicksand", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
   padding: 2rem 1rem;
   display: flex;
   align-items: center;
   justify-content: space-around;
   position: sticky;
   top: 0;
   background: var(--bg-color);
   z-index: 10;
   border-bottom: 1px solid var(--border-color);
   gap: 2rem;
}

header h1{
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.2rem;
    margin: 0;
    font-weight: 500;
    white-space: nowrap;
    color: var(--primary-color);
}

.detaque-redacao {
    color: var(--base-color);
}

header div {
    position: relative; 
    display: flex; 
    align-items: center; 
    flex-wrap: wrap; /* Permite que o botão quebre a linha em telas menores */
}

div input {
    padding: 12px 8px 12px 40px; 
    border-radius: 0.8rem;
    border: 2px solid var(--base-color);
    background: var(--bg-color);
    font-family: inherit;
    font-size: 15px;
    transition: all 0.2s ease;
    width: 30rem;
    color: var(--tertiary-color);
    margin-right: .5rem;
    height: 40px;               
    line-height: 40px;          
}

div input::placeholder {
    font-size: 15px;
    font-weight: 300;
    color: var(--secondary-color);
    font-weight: 500;
}

div input:focus {
    outline: none;
    border-color: var(--base-color);
    box-shadow: 0 0 0 0.1rem var(--button-color);
}

header div .fa-magnifying-glass {
    position: absolute; /* Posiciona o ícone sobre o input */
    left: 15px; /* Distância da esquerda */
    top: 50%; /* Alinha verticalmente ao centro */
    transform: translateY(-50%); /* Ajuste fino do alinhamento vertical */
    color: var(--tertiary-color); /* Cor do ícone */
}

#botao-busca {
    padding: 1rem 2rem;
    background-color: var(--base-color);
    border-radius: 16px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    white-space: nowrap;
    transition: background-color 0.2s ease, color 0.2s ease;
    color: var(--bg-color);
    border: 1px solid var(--button-color);
}

#botao-busca:hover {
    background-color: var(--button-color);
    color: var(--bg-color);
    box-shadow: 0 0 0 0.1rem var(--base-color);
}

#botao-busca:active {
    transform: scale(0.98);
}

/* Estilos para o botão de modo escuro */
.dark-mode-button {
    background-color: transparent;
    border: 2px solid var(--base-color);
    color: var(--base-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transition: all 0.3s ease;
    flex-shrink: 0; /* Impede que o botão encolha */
    margin-left: 0.5rem;
}

.dark-mode-button:hover {
    background-color: var(--base-color);
    color: var(--bg-color);
}

/* Esconde o ícone do sol por padrão */
.dark-mode-button .fa-sun {
    display: none;
}

/* Mostra o ícone do sol e esconde a lua no modo escuro */
body[data-theme="dark"] .dark-mode-button .fa-sun {
    display: block;
}
body[data-theme="dark"] .dark-mode-button .fa-moon {
    display: none;
}

.card-titulo {
    text-align: center;
    color: var(--primary-color);
    font-size: 22px;
}

.destaque {
    color: var(--base-color);
}

.card-titulo p {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 18px;
}

main {
    max-width: 80rem; /* Largura máxima do conteúdo principal */
    margin: 0 auto; /* Centraliza o conteúdo principal horizontalmente */
    margin-top: 2rem; /* Margem no topo */
    width: 100%; /* Garante que o main ocupe a largura */
    flex-grow: 1; /* Faz com que o main ocupe o espaço restante */
}

article {
    background:  var(--bg-color);
    border-radius: 16px; 
    padding: 1.4rem 1.6rem;
    margin-bottom: 1.5rem; /* Margem inferior */
    box-shadow: none; /* Sem sombra */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave */
    padding-bottom: 1.5rem; /* Espaçamento interno inferior */
    align-items: center;
    display: flex;
    gap: 2rem;
}

.card-icon {
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.card-educacao {
    border: 2px solid #2463eb70;
    background-color: #2463eb14;
    color: #2463EB;
}

.card-saude {
    border: 2px solid #00c89666;
    background-color: #00c89614;
    color: #00C896;
}

.card-ambiente {
    border: 2px solid #e0541d61;
    background-color: #e0541d11;
    color: #E0551D;
}

.card-tecnologia {
    border: 2px solid #2463eb70;
    background-color: #2463eb14;
    color: #2463EB;
}

.card-cultura {
    border: 2px solid #00c89666;
    background-color: #00c89614;
    color: #00C896;
}

.card-seguranca {
    border: 2px solid #e0541d61;
    background-color: #e0541d11;
    color: #E0551D;
}

.card-economia {
    border: 2px solid #2463eb70;
    background-color: #2463eb14;
    color: #2463EB;
}

.card-politica {
    border: 2px solid #00c89666;
    background-color: #00c89614;
    color: #00C896;
}

.card-desigualdade {
    border: 2px solid #e0541d61;
    background-color: #e0541d11;
    color: #E0551D;
}

.card-inovacao {
    border: 2px solid #2463eb70;
    background-color: #2463eb14;
    color: #2463EB;
}

article:hover {
    transform: scale(1.01); /* Aumenta ligeiramente o tamanho ao passar o mouse */
    cursor: pointer; /* Muda o cursor para uma mão */
}

article h2 {
    margin-top: 0; /* Remove a margem superior */
    font-weight: 700; /* Peso da fonte */
    font-size: 26px; /* Tamanho da fonte */
    border-bottom: none; /* Sem borda inferior */
    padding-bottom: 0; /* Sem espaçamento interno inferior */
    margin-bottom: 0.25rem; /* Margem inferior */
    color: var(--primary-color); /* Cor do texto */
}

article p {
    margin: 0.5rem 0; /* Margem superior e inferior */
    line-height: 1.6; /* Altura da linha para melhor legibilidade */
    font-size: 1rem; /* Tamanho da fonte */
    margin-bottom: 0.5rem; /* Margem inferior */
    color: var(--secondary-color); /* Cor do texto */
    font-weight: 500;
}

.footer {
    width: 100%;
    color: var(--tertiary-color);
    background-color: var(--bg-color);
    padding: 15px 20px;
    border-top: 1px solid var(--border-color);
    font-size: 0.8rem;
}

.footer-location {
    color: #9aa0a6;
    margin-bottom: 10px;
    text-align: center;
}

.footer-links {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.footer-links a {
    color: var(--base-color);
    text-decoration: none; 
    transition: color 0.2s; 
    font-weight: 500;
}

.footer-links a:hover {
    color: #f90000; 
}

@media (max-width: 768px) {
    header { /* Estilos para telas com largura máxima de 768px */
        flex-direction: column; /* Organiza os itens do cabeçalho em coluna */
        padding: 1rem; /* Reduz o espaçamento interno */
    }

    header h1 { /* Estilos para o h1 no cabeçalho em telas menores */
        text-align: center; /* Centraliza o texto */
        margin-bottom: 1rem; /* Adiciona margem inferior */
    }

    div input { /* Estilos para o input em telas menores */
        width: 90vw; /* Largura baseada na largura da viewport */
        font-size: 1.2rem; /* Reduz o tamanho da fonte */
    }

    main { /* Estilos para o main em telas menores */
        padding: 0 1rem; /* Adiciona espaçamento lateral */
    }

    article:hover { /* Estilos para o article em telas menores */
        transform: none; /* Remove o efeito de escala ao passar o mouse */
    }
}

@media (max-width: 480px) {
    header h1 { /* Estilos para o h1 em telas com largura máxima de 480px */
        font-size: 1rem; /* Reduz ainda mais o tamanho da fonte */
        max-width: 70%; /* Define uma largura máxima */
        word-wrap: break-word; /* Permite a quebra de palavras longas */
    }

    div input, /* Estilos para o input e seu placeholder em telas muito pequenas */
    div input::placeholder {
        font-size: 1rem; /* Reduz o tamanho da fonte */
    }

    article h2 { /* Estilos para o h2 do article em telas muito pequenas */
        font-size: 1.3rem; /* Reduz o tamanho da fonte */
    }

    div { /* Estilos para a div do cabeçalho em telas muito pequenas */
        display: flex; /* Habilita flexbox */
        align-items: center; /* Alinha itens ao centro */
        justify-content: center; /* Centraliza itens */
        flex-direction: column; /* Organiza em coluna */
        gap: 0.5rem; /* Espaçamento entre os itens */
    }

    .footer { /* Estilos para o rodapé em telas muito pequenas */
        display: none; /* Oculta o rodapé */
    }

    button { /* Estilos para o botão em telas muito pequenas */
        margin-top: 1rem; /* Adiciona margem no topo */
    }
}